body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.progressText
{
    position:relative;
    top:2px;
}
.headerDate
{
    display: inline-block;
    float: right;
}

.template
{
    display:none;
}
.table-view .progress
{
    margin-bottom:1px;
    background-color:#8F8F8F;
}
.table-view .progress.hdd
{
    width: 80px;
    float: left;
    margin-right: 5px;
}
.table-view .progress .progressText
{
    text-shadow:1px 1px 1px black;
    white-space: nowrap;
    padding-left: 6px;
}