@{
    ViewBag.Title = "Stats";
}
<br />
<div class="row">
    <div class="col-md-4">


        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Music</h3>
            </div>
            <div class="panel-body">

                <div class="row text-success">
                    <div class="col-md-4 ">0%</div>
                    <div class="col-md-4 text-center">CPU 1 min</div>
                    <div class="col-md-4 text-right">100%</div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 80%;">
                        <span class="progressText">60%</span>
                    </div>
                </div>

                <div class="row text-success">
                    <div class="col-md-8 ">CPU 5 Minutes</div>
                    <div class="col-md-4 text-right">100%</div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 80%;">
                        <span class="progressText">60%</span>
                    </div>
                </div>

                <div class="row text-success">
                    <div class="col-md-8 ">Memory usage 25%</div>
                    <div class="col-md-4 text-right">16GB</div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%;">
                        <span class="progressText">4GB</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Music</h3>
            </div>
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;">
                        60%
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Music</h3>
            </div>
            <div class="panel-body">
                Content
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Music</h3>
            </div>
            <div class="panel-body">
                Content
            </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Music</h3>
            </div>
            <div class="panel-body">
                Content
            </div>
        </div>

        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Music</h3>
            </div>
            <div class="panel-body">
                Content
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Music HDD<span class="badge headerDate">10.10.2015 19:43:22</span></h3>
            </div>
            <div class="panel-body">

                <div class="row"><div class="col-md-4">System (C:)</div><div class="col-md-8 text-right">free 400 GB of 500 GB</div></div>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 20%;">
                        <span class="progressText">20%</span>
                    </div>
                </div>

                <div class="row"><div class="col-md-4">No name (C:)</div><div class="col-md-8 text-right"> free 100 GB of 1000 GB</div></div>

                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 90%;">
                        <span class="progressText">90%</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Music Info</h3>
            </div>
            <div class="panel-body">

                <div class="row"><div class="col-md-4">Manufacturer</div><div class="col-md-8">:&nbsp;Dell</div></div>
                <div class="row"><div class="col-md-4">Manufacturer</div><div class="col-md-8">:&nbsp;Dell</div></div>
                <div class="row"><div class="col-md-4">Manufacturer</div><div class="col-md-8">:&nbsp;Dell</div></div>
                <div class="row text-danger"><div class="col-md-4">UpTime</div><div class="col-md-8">:&nbsp;8 Days</div></div>
            </div>
        </div>
    </div>
</div>